*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
    font-family: 'Sriracha', sans-serif;
    color: black;
}

body{
    background-image:  url('../assets/background.png');
    background-repeat: repeat;
    background-position: top;
    background-size: 100%;
   /* background-color: white;*/
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

a:visited{
    color: black;
}

p{
    padding-left: 1em;
    font-size: 1rem;
}

ul{
    list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

img{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1{
    font-family: 'Damion', cursive;
    font-size:  4rem;
}

h2{   
    font-size: 1.5rem;
    text-align: center;
}

h3{
    font-size: 1rem;
    text-align: center;
}

div .patty, div .top-bun, div .pickles, div .lettuce, div .nav-section, div .cheese, div .bottom-bun{
    margin-bottom: 20px;

    /* Position and center the image to scale nicely on all screens */   
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: re;
}

footer{
    margin: auto;
    margin-top: 1em;
    text-align: center;
}

/*SECTIONS*/

.email-list{
    position: fixed;
    width: 100%;
    background: white;
    border: 3px solid black;
}

.burger-container{
    max-width: 50%;
    margin: auto;
    margin-top: 2em;
}

.title-section{
    padding-top: 100px;
    text-align: center;
}

.nav-section{
    text-align: center;
    font-size: 2rem;
}

.video-section{
    text-align: center;
}

.gif-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    /*height: 200px;*/
}
  
  .gif-section>div {
    width: 200px;
    height: 150px;
  }

.pickles{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.description-section{
    padding: 10px;
}

.social-links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-section img{
    max-width: 50px;
    height: 50px;
}

/*Div Shapes*/

.circle {
	border-radius: 50%
  }

.patty {
	-moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;

   background-color: rgb(138, 99, 51);
   border: 3px solid black;
}

.lettuce {
	-moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;

   background-color: rgb(152, 255, 138);
   border: 3px solid black;
}

.top-bun{

    height: 300px;
    background-image: url('../assets/burger/topbun.png');

    /*
    border-radius: 50% 50% 50% 50% / 60% 60% 30% 30%;
    background-color: #F2A950;
    border: 3px solid black; */
}

.bottom-bun{

    height: 300px;
    background-image: url('../assets/burger/bottombun.png');
    
    /*
    border-radius: 60% 60% 20% 20% / 30% 30% 50% 50%;
    background-color: #F2A950;
    border: 3px solid black; */
}

.pickle{
    background-color: green;
    border: 2px solid black;
    width: 20%;
    border-radius: 100px / 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tomato{
    background-color: rgb(231, 74, 74);
    border: 2px solid black;
    width: 40%;
    border-radius: 100px / 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cheese{
    background-color: rgb(255, 208, 0);
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*MEDIA QUERIES*/

/*tablet*/ 
@media only screen 
and (min-width : 768px) and (max-width : 1100px){

    .burger-container{
        max-width: 90%;
    }

    body{
        background-image: none, none;
        background-color: rgb(253, 87, 87);
    }

}

/*applies only to screens under 320px - mobile*/
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 767px){
    
    .burger-container{
        max-width: 95%;
    }

    body{
        background-image: none, none;
        background-color: rgb(253, 87, 87);
    }
}