*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
    font-family: 'Sriracha', sans-serif;
    color: black;
}

body{
    /*background-image: url('background.jpg');*/
    margin-top: 2em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1{
    font-family: 'Damion', cursive;
    font-size:  5rem;
}

h2{   
    font-size: 2rem;
    text-align: center;
}

h3{
    text-align: center;
}

div{
    margin-bottom: 20px;
}

footer{
    margin: auto;
    margin-top: 1em;
    text-align: center;
    border: 1px solid red;
}

/*SECTIONS*/

.burger-container{
    max-width: 40%;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid red;
    margin: auto;
}

.title-section{
    padding-top: 30px;
    text-align: center;
}

.nav-section{
    text-align: center;
    font-family: 'Sriracha', sans-serif;
}

.video-section{
    text-align: center;
}

.gif-section{
    
}

.gif-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    /*height: 200px;*/
    border: 1px solid red;
}
  
  .gif-row>div {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
  }

.description-section{
    border: 1px solid red;
}

.social-section{
}

/*Div Shapes*/

.circle {
	border-radius: 50%
  }

.patty {
	-moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;

   background-color: rgb(138, 99, 51);
   border: 3px solid black;
}

.top-bun{
    display: block;
    height: 200px;
    border-radius: 50% 50% 50% 50% / 60% 60% 30% 30%;
    background-color: #F2A950;
    border: 3px solid black;
}

.bottom-bun{
    display: block;
    height: 200px;
    border-radius: 60% 60% 20% 20% / 30% 30% 50% 50%;
    background-color: #F2A950;
    border: 3px solid black;
}