*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
    font-family: 'Sriracha', sans-serif;
    color: black;
}

body{
    background-image:  url('../assets/background.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 105%;
    background-attachment: fixed;
   /* background-color: white;*/
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

a:visited{
    color: black;
}

p{
    padding-left: 1em;
    font-size: 100%;
}

ul{
    list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

img{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1{
    font-family: 'Damion', cursive;
    font-size: 4vw;
}

.subtitle{
    color: white;
    font-size: 2rem;
   
}

h2{   
    font-size: 1.5rem;
    text-align: center;
    color: rgb(219, 200, 159);
}

h3{
    padding: 10px;
    font-size: 100%;
    text-align: center;
}

div .patty, div .top-bun, div .pickle, div .tomato, div .lettuce, div .cheese, div .bottom-bun, div .onion{
    margin-bottom: 5%;

    /* Position and center the image to scale nicely on all screens */   
	background-position: center;
    background-repeat: no-repeat;
	background-size: 100%;
    position: relative;
}

footer{
    margin-top: 1em;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*SECTIONS*/

.email-list{
    position: fixed;
    width: 100%;
    background: white;
    border: 3px solid black;
}

.burger-container{
    max-width: 50%;
    margin: auto;
    margin-top: 2em;
}

.title-section{
    position: relative;
    text-align: center;
}

.nav-section{
    text-align: center;
    font-size: 2rem;
}

.video-section{
    text-align: center;
}

.gif-section{
    align-items: center; 
    margin-bottom: 20px;
}

.box{
    display: flex;
    justify-content: space-evenly;
}

.big-media{
    margin-bottom: 20px;
}
  
  .gif-section>div {
    width: 200px;
    height: 150px;
  }

.pickles{
    
}

.description-section{
    padding: 5%;
}

.social-links{
    padding-top: 5%;
}

.social-links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-section img{
    max-width: 50px;
    height: 50px;
}

/*Div Shapes*/

.circle {
	border-radius: 50%
  }

.patty {
    padding-top: 50px;
    height: 150px;
    background-image: url('../assets/burger/pattythin.png');
}

.outline {
   border: 3px solid black;
}

.top-bun{
    resize: both;
    height: 280px;
    background-image: url('../assets/burger/topbun.png');
}

.bottom-bun{
    height: 150px;
    background-image: url('../assets/burger/bottombun.png');  
}

.pickle{
    height: 60px;
    min-width: 200px;
    background-image: url('../assets/burger/pickle.png');
}

.tomato{
    width: 350px;
    height: 80px;
    background-image: url('../assets/burger/tomato.png');
}

.cheese{
    height: 80px;
    background-image: url('../assets/burger/cheese2.png');
}

.onion{ 
    padding-top: 25px;
    min-width: 500px;
    height: 140px;
    background-image: url('../assets/burger/onion.png');
}

/*MEDIA QUERIES*/

/*background scale*/
@media only screen 
and (min-width : 1101px) and (max-width : 1300px){
    body{
        background-size: 120%;
    }
}

/*tablet*/ 
@media only screen 
and (min-width : 832px) and (max-width : 1100px){

    h1{
        font-size: 8vw;
    }

    h2{
        font-size: 4vw;
    }

    .burger-container{
        max-width: 90%;
    }

    body{
        background-image: none;
        background-color: rgb(253, 87, 87);
    }

}

/*applies only to screens under 320px - mobile*/
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 831px){

    div .patty, div .top-bun, div .pickle, div .tomato, div .lettuce, div .cheese, div .bottom-bun{
        margin-bottom: none;
    
        /* Position and center the image to scale nicely on all screens */   
        background-position: center;
        background-repeat: no-repeat;
        background-size: unset;
        position: relative;
        border: 3px solid black;
    }

    p{
        color: white;
    }

    h1{
        font-size: 8vw;
    }

   

    h2{
        padding: 0;
        font-size: 6vw;
    }

    .onion{
        background-image: none;
        padding-top: 10px;
    }

    .big-media{
        margin: none;
    }

    .social-links{
        padding-top: 3%;
    }

    .box{
        flex-direction: column;
    }

    .pickle, .gif{
        margin-bottom: 5%;
    }

    .gif-section>div {
        width: 400px;
        height: 300px;
      }

    .top-bun{
        padding-top: 40px;
        display: block;
        height: 200px;
        border-radius: 50% 50% 50% 50% / 60% 60% 30% 30%;
    }

    .patty{
        padding: 10px;
        -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;

    }

    .bottom-bun{
        display: block;
        height: 100px;
        border-radius: 60% 60% 20% 20% / 30% 30% 50% 50%;
    }

    .pickle{
        border-radius: 100px / 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .tomato{
    width: 40%;
    border-radius: 100px / 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-right: 10px;
    }

    .cheese{
        background-color: rgb(255, 174, 0);
        background-image: none;
        height: 50px;
    }

    .burger-container{
        max-width: 95%;
    }

    body{
        background-image: none;
        background-color: rgb(253, 87, 87);
    }
}